// Base da fonte
//https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap

$font-default: 'Montserrat', Arial, sans-serif;
// pesos da fonte 300;400;500;600;700;800

$font-titles: 'Montserrat', Arial, sans-serif;

// Cores
$primary: #2B84F0;
$secondary: #EEEEEE;

$preto: #404040;
$dark: #404040;
$branco: #ffffff;
$white: #ffffff;

$cinza: #706f6f;
$gray: #C4C4C4;
$lightgray: #F8F8F8;
$darkgray: #757575;
$blue: #0040A6;
$lightblue: #00ADEE;
$yellow: #FFCA05;
$green: #82CD13;
$purple: #9F37A4; 

$azul_claro: #2B84F0;
$azul_escuro: #041F49;
$cinza_claro: #EEEEEE;
$azul_medio: #2769C1;

$link-color: $primary;

// Espaçamentp entre linhas do Grid Bootstrap
$grid-gutter-width: 30px;

$enable-shadows: 1;

// Customizando o modal
$modal-backdrop-bg: $primary;
$modal-backdrop-opacity: 1;

//Custom hamburger icon
$hamburger-layer-width         : 35px;
$hamburger-layer-height        : 6px;
$hamburger-layer-spacing       : 4px;
$hamburger-layer-color         : $branco;
$hamburger-layer-border-radius : 0;
$hamburger-hover-opacity       : 1;
$hamburger-types: (
  slider,
);
